<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Studyfirst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D308A3A1C4B69AE004304BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D308A531C4B69AE004304BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D308A5E1C4B69AE004304BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
